<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Jinrou 2.0</title>
</head>
<body>
<h1>Jinrou</h1>

<h2>available village</h2>
<table border="1">
<thead>
<tr>
<th>{{ _("name") }}</th>
<th>{{ _("capacity") }}</th>
<th>{{ _("nighttime") }}</th>
<th>{{ _("daytime") }}</th>
<th>{{ _("description") }}</th>
</tr>
</thead>
<tbody>
{% for village in villages %}
<tr>
 <th><a href="/village/{{ village.key().id() }}">{{ village.name }}</a></th>
 <td>{{ village.capacity }}</td>
 <td>{{ village.nighttime }}</td>
 <td>{{ village.daytime }}</td>
 <td>{{ village.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<h2>create village</h2>
{{ form() | safe }}
</body>
</html>
